@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-playfair: "Playfair Display", serif;
  --font-dm-sans: "DM Sans", sans-serif;
  --font-tiro: "Tiro Devanagari Hindi", serif;
  --font-noto-devanagari: "Noto Sans Devanagari", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}
